# Maintain concistency development across all
# text-editor and IDEs
root = true

[*]
trim_trailing_whitespace = true
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_size = 2
indent_style = space

[package.json]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = true